h3{
    font-size: 1.8em;
    font-style: italic;
    text-align: center;
}
.inp{
    margin-bottom: 0;
    padding-bottom: 0;
}

.inf{
    min-height: 2em;
}
.height{

    height: 3em;

}
i.fa {
    width: 26px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    margin-right: -26px;
    position: relative;
    z-index: 1;
    float: right;
}

i.fa + input {
    padding-left: 26px;
}


